body {

}

#connectContainer {
  margin: auto;
  width: 1000px;
  height: 1000px;
}

.connectFour {
  display: flex;
  flex-flow: row wrap;
  margin: auto;
  width: 525px;
  height: 500px;
  border: 1px solid black;
}

.circle {
  display: inline-block;
  width: 75px;
  height: 75px;
  border-radius: 100%;
  background-color: red;
}
