/*==========================================
                  GENERAL
==========================================*/

body {
  background: url('images/hpbg.jpg');
  background-size: cover;
  background-position: center;
}

h2 {
  font-family: 'Henny Penny';
  font-size: 30px;
}

/*==========================================
                  PLAYERS
==========================================*/
#playerOne {
  position: absolute;
  background: transparent;
  top: 25%;
  margin-left: -100px;
  width: 200px;
  height: 200px;
  overflow: hidden;
  cursor: pointer;
  border: none;
  outline: none;
}

#playerOne img {
  width: 200px;
}

#playerTwo {
  position: absolute;
  background: transparent;
  top: 25%;
  margin-left: 900px;
  width: 200px;
  height: 200px;
  overflow: hidden;
  cursor: pointer;
  border: none;
  outline: none;
}

#playerTwo img {
  width: 200px;
}

/*==========================================
                GAME BOARD
==========================================*/

#connectContainer {
  margin: auto;
  width: 1000px;
  height: 1000px;
}

.connectFour {
  background: url('images/connectfourboard.png');
  background-size: cover;
  border: 1px solid black;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  margin: auto;
  margin-top: 275px;
  width: 575px;
  height: 550px;
  border-radius: 10px;
  padding: 2%;
  animation: float;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

@keyframes float {
  50% {transform: translateY(50px)}
  50% {transform: translateY(-50px)}
}

.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.circle {
  display: inline-block;
  width: 75px;
  height: 75px;
  border-radius: 100%;
  /* background-color: red; */
  cursor: pointer;
}

/*==========================================
          CHOOSE YOUR HOUSE MODAL
==========================================*/
#selectHouse {
  background: rgba(0, 0 ,0, 0.6);
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;
}

#selectHouseHeader {
  background: url('images/choosehousebanner.png');
  color: white;
  margin: auto;
  width: 500px;
  height: 318px;
  vertical-align: middle;
  text-align: center;
  line-height: 350px;
}

#selectHouseBox {
  width: 850px;
  margin: auto;
  display: flex;
  flex-flow: row;
}

#selectHouseBox img {
  width: 200px;
}

#gryffindor, #ravenclaw, #hufflepuff, #slytherin {
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

/*==========================================
          HOGWARTS & HOUSE CRESTS
==========================================*/
.hogCrest {
  position: absolute;
  top: 10px;
  margin-left: 400px;
}

.hogCrest img {
  width: 200px;
}

/*==========================================
              SORTING HAT MODAL
==========================================*/
#hatBox {
  background: rgba(0, 0 ,0, 0.6);
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;
  justify-content: center;
}

#sortingHat {
  width: 800px;
  margin: auto;
  margin-left: 590px;
  margin-top: 100px;
  display: block;
}

#sortingHat img {
  width: 500px;
}

/*==========================================
              FLOATING CANDLES
==========================================*/
.floatCandle {
  position: absolute;
  margin-top: -400px;
  z-index: -10;
  animation: floatCandle;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

.floatCandle2 {
  position: absolute;
  margin-top: -700px;
  margin-left: 1200px;
  z-index: -10;
  animation: floatCandle;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

.floatCandle3 {
   position: absolute;
   margin-top: -200px;
   margin-left: 1000px;
   z-index: -10;
   animation: floatCandle2;
   animation-duration: 6s;
   animation-iteration-count: infinite;
}

.floatCandle img {
   width: 30px;
}

.floatCandle2 img {
    width: 50px;
}

.floatCandle3 img {
    width: 20px;
}

@keyframes floatCandle {
   50% {transform: translateY(50px)};
   50% {transform: translateY(-50px)}
}

@keyframes floatCandle2 {
   40% {transform: translateY(-50px)};
   50% {transform: translateY(50px)}
}
