/*==========================================
                  GENERAL
==========================================*/

body {
  background: url('images/hpbg.jpg');
  background-size: cover;
  background-position: center;
}

h2 {
  font-family: 'Henny Penny';
  font-size: 30px;
}

/*==========================================
                  PLAYERS
==========================================*/
#playerOne {
  position: absolute;
  top: 25%;
  margin-left: -100px;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

#playerOne img {
  width: 200px;
}

#playerTwo {
  position: absolute;
  top: 25%;
  margin-left: 900px;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

#playerTwo img {
  width: 200px;
}

/*==========================================
                GAME BOARD
==========================================*/

#connectContainer {
  margin: auto;
  width: 1000px;
  height: 1000px;
}

#connectFour {
  background: url('images/connectfourboard.png');
  background-size: cover;
  border: 1px solid black;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  margin: auto;
  margin-top: 275px;
  width: 575px;
  height: 550px;
  border-radius: 10px;
  padding: 2%;
  animation: float;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

@keyframes float {
  50% {transform: translateY(50px)}
  50% {transform: translateY(-50px)}
}

.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.col {
  display: inline-block;
  background-size: cover;
  width: 75px;
  height: 75px;
  border-radius: 100%;
  /* background-color: red; */
  cursor: pointer;
}

/*==========================================
          GAME INFORMATION MODAL
==========================================*/
#gameInfo {
  background: rgb(136, 64, 154);
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  font-family: arial;
  font-size: 12px;
  color: white;
  text-align: center;
}

#gameInfo h1 {
  margin-top: 100px;
  font-family: 'Henny Penny';
  font-size: 40px;
  line-height: 10px;
  animation: float;
  animation-duration: 7s;
  animation-iteration-count: infinite;
}

.infoBox {
  margin: auto;
  margin-top: 100px;
  width: 600px;
  padding: 10px;
  font-family: arial;
  font-size: 14px;
  color: white;
  text-align: center;
}

.infoBox b {
  font-size: 16px;
}

.infoBox button {
  width: 100px;
  height: 40px;
  padding: 2px;
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 5px;
  font-family: arial;
  font-size: 12px;
  font-weight: bold;
  color: rgb(136, 64, 154);
  text-transform: uppercase;
  cursor: pointer;
}

/*==========================================
          CHOOSE YOUR HOUSE MODAL
==========================================*/
#selectHouse {
  background: rgba(0, 0 ,0, 0.6);
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;
}

#selectHouseHeader {
  background: url('images/choosehousebanner.png');
  color: white;
  margin: auto;
  width: 500px;
  height: 318px;
  vertical-align: middle;
  text-align: center;
  line-height: 350px;
}

#selectHouseBox {
  width: 850px;
  margin: auto;
  display: flex;
  flex-flow: row;
}

#house {
  display: block;
  width: 300px;
  height: 200px;
  outline: none;
  border: none;
  cursor: pointer;
}

/*==========================================
          HOGWARTS & HOUSE CRESTS
==========================================*/
.hogCrest {
  position: absolute;
  top: 10px;
  margin-left: 400px;
}

.hogCrest img {
  width: 200px;
}

.Gryffindor {
  background-image: url('images/gryffindor.png');
  background-size: cover;
}

.Ravenclaw {
  background-image: url('images/ravenclaw.png');
  background-size: cover;
}

.Hufflepuff {
  background-image: url('images/hufflepuff.png');
  background-size: cover;
}

.Slytherin {
  background-image: url('images/slytherin.png');
  background-size: cover;
}

/*==========================================
              SORTING HAT MODAL
==========================================*/
#hatBox {
  background: rgba(0, 0 ,0, 0.6);
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;
  padding-top: 150px;
}

.sortingHat {
  background: url('images/sortinghat.png');
  background-size: cover;
  width: 450px;
  height: 350px;
  margin-left: -500px;
  margin: auto;
  display: block;
}

.winnerAnnounce {
  margin: auto;
  width: 400px;
  font-family: arial;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  text-align: center;
  line-height: 10px;
}

.winner {
  font-size: 45px;
}

.reset {
  margin-top: 50px;
  width: 100px;
  height: 50px;
  padding: 2px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: rgb(136, 64, 154);
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

/*==========================================
              FLOATING CANDLES
==========================================*/
.floatCandle {
  position: absolute;
  margin-top: -400px;
  z-index: -10;
  animation: floatCandle;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

.floatCandle2 {
  position: absolute;
  margin-top: -700px;
  margin-left: 1200px;
  z-index: -10;
  animation: floatCandle;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

.floatCandle3 {
   position: absolute;
   margin-top: -200px;
   margin-left: 1000px;
   z-index: -10;
   animation: floatCandle2;
   animation-duration: 6s;
   animation-iteration-count: infinite;
}

.floatCandle img {
   width: 30px;
}

.floatCandle2 img {
    width: 50px;
}

.floatCandle3 img {
    width: 20px;
}

@keyframes floatCandle {
   50% {transform: translateY(50px)};
   50% {transform: translateY(-50px)}
}

@keyframes floatCandle2 {
   40% {transform: translateY(-50px)};
   50% {transform: translateY(50px)}
}
